.container {
    display: flex;
    justify-content: center;
    height: 100vh;
}

.form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: rgb(206, 150, 206);
}