:root{

}


.highlight {
    background-color: #d4ffd4;
    border: 2px solid #8bc98b;
}
h1 {
    color: red;
}

button {
    padding: 10px;
    font-size: 16px;
    background-color: #ff914d;
    color: #000000;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #a04545;
}

.logo_wrapper {
    display: flex;
    justify-content: center;
    align-items: center;

}

.search_wrapper {
    display: flex;
    justify-content: center;
    align-items: center;

}

.search_wrapper input {

    width: 300px;
    height: 40px;
    border-radius: 5px;
    
}

.add_list_wrapper{
    gap: 20px;
}

.headshot{
    width:150px;
    height: auto;
}

li {
    list-style: none; 
    padding: 0;
    margin: 0;
}

.user_list{
    background-color: #ececec;
    border-radius: 2px;
    margin-right: 15px;
    margin-left: 15px;
    
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 20px;
    padding: 20px;

}

.user-card{
    margin-right: 25px;
}
