<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>My Page</title>

  <link rel="stylesheet" href="add.css">
</head>
<body>
    <div class="container">
  <h1>Add a new client</h1>
  <div class="form-container">
  <form action="/add_client" method="POST"> 
    <input type="text" name="Name" placeholder="Name">
    <input type="text" name="Age" placeholder="Age">
    <input type="text" name="Level" placeholder="Level">
    <input type="text" name="Gender" placeholder="Gender">
  <button type="submit" id="add-btn">Add</button>
  </form>
  </div>
  </div>
</body>
</html>
